<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Upload a Video</h3>
      </div>
      <hr/>
      <div>
        <form action="list" enctype="multipart/form-data">
          <input type="submit" value="Display list">
        </form>

        <form action="upload" method="post" enctype="multipart/form-data">
          <input type="file" accept="video/*" name="file"><br /><br />
          <input type="submit" value="Upload">
        </form>

        <form action="download" method="post" enctype="multipart/form-data">
          <input type="text" name="link" value="Paste link of video to download">
          <input type="submit" value="Download">
        </form>
      </div>
      {{text|safe}}
    </div>
  </body>
</html>
 